datasets/**/*
audio_out/**/*
.ipynb_checkpoints/
output/**/*
checkpoint/
checkpoints/
__pycache__
.DS_Store
20180510_mixture_lj_checkpoint_step000320000_ema.*
tacotron/training_data/**/*
outputs
spectrgrams
waveglow/tacotron2
